

.modal-header{
  padding: 5px;
  border-bottom: 0;
}
.nav li{
  cursor: pointer;
}
label.col-sm-2{
  padding-left: 0;
  padding-right: 0;
}
.flex-center{
  display: flex;
  display: -webkit-flex;
  justify-content: center;
}
.flex-center .btn{
  margin: 0 10px;
}
@media (min-width: 768px) {
  .modal-sm{
    width: 350px;
  }
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
